<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Alfonso's Books</title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/img/favicon.ico}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" th:href="@{/}">Alfonso's Books</a>
        <span class="navbar-item" sec:authentication="principal.username">User</span>
        <a class="btn btn-outline-primary" th:href="@{/registration/logout}" sec:authorize="isAuthenticated()">Logout</a>
    </div>
</nav>
<div class="container my-4">
    <h2>Update Book</h2>
    <form action="#" th:action="@{/updateBook}" th:object="${bookForm}" method="POST">
        <div class="mb-3">
            <label for="book-id" class="form-label">ID</label>
            <input class="form-control"
                   id="book-id" th:readonly="true"
                   th:field="*{book.id}" type="text">
        </div>
        <div class="mb-3">
            <label for="book-title" class="form-label">Book Title</label>
            <input id="book-title"
                   class="form-control"
                   placeholder="Update Title" th:field="*{book.title}"
                   type="text">
            <div class="alert alert-warning"
                 th:if="${#fields.hasErrors('book.title')}" th:errors="*{book.title}"></div>
        </div>
        <div class="input-group mb-3">
            <a href="#" th:href="@{/authors/showNewAuthorForm(redirectPage='showUpdateBookForm',bookId=*{book.id})}" class="btn btn-outline-secondary">New Author</a>
            <select th:field="*{author.id}" class="form-select"
                    aria-label="Dropdown for existing authors">
                <option value="">Select...</option>
                <option th:each="existingAuthor : ${existingAuthors}"
                        th:value="${existingAuthor.id}"
                        th:utext="${existingAuthor.fullName}"
                        th:selected="${existingAuthor.id == bookForm.author.id}">
                </option>
            </select>
        </div>
        <div class="alert alert-warning"
             th:if="${#fields.hasErrors('author.id')}" th:errors="*{author.id}"></div>
        <button class="btn btn-info" type="submit">Update Book</button>
    </form>
    <hr>
    <a th:href="@{/}">Back to Book List</a>
</div>
</body>
</html>